<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2>Your Pragmatic Car</h2>
<ul>
  <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end %>
</ul>

<%= button_to 'Empy cart', @cart, method: :delete,
  data: { confirm: 'Are you sure?' } %>